@using YouChat.Localization
@using YouChat.Web.Navigation
@using YouChat.YouChat.Dto
@model   List<ArticleListDto>
@{
    ViewBag.CurrentPageName = PageNames.Frontend.Home;
}
@foreach (ArticleListDto item in Model as List<ArticleListDto>)
{
    <article  class="post tag-laravel-5 tag-getting-started-with-laravel tag-laravel-5-2">
        <div class="post-head">
            <h1 class="post-title"><a href="@Url.Action("Article","Home",new
                                            {
                                                Id= item.Id
                                            })">@item.Title</a>
            </h1>
            <div class="post-meta">
                <span class="author">作者：<a href="#">@item.UserName</a></span> •
                <time class="post-date" datetime="" title="">@item.CreationTime.ToString("yyyy-MM-dd")</time>
            </div>
        </div>
        @*<div class="featured-media"> 
             <a href="#"><img src="xxx.jpg" alt="如果有图片可以放在这里"></a>
        </div>*@
        <div class="post-content">
            <p> @Html.Raw(item.Content)</p>
        </div>
        <div class="post-permalink">
            <a href="@Url.Action("Article","Home",new
                                            {
                                                Id= item.Id
                                            })" class="btn btn-default">阅读全文</a>
        </div>
        <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
                <i class="fa fa-folder-open-o"></i>
                    @item.CategoryName
            </div>
            <div class="pull-right share">
            </div>
        </footer>
    </article>
}
<!--如果有分页按钮可以放这里-->
@*<nav class="pagination" role="navigation">
    <span class="page-number">第 1 页 ⁄ 共 5 页</span>
    <a class="older-posts" href="#"><i class="fa fa-angle-right"></i></a>
</nav>*@
  
